.cart-member{
    display: flex;
    justify-content: center;
    background-color: rgba(8, 8, 8, 0.726);
    color: white;
   
    padding: 5px 0;
    margin: 7px 10px;
    border: 2px solid orange;
    border-radius: 5px;
    

}
.cart-member img{
    width: 60px;
    margin-right: 10px;
    border-radius: 50%;
}